# SPDX-License-Identifier: GPL-2.0
#
# Hardware assisted os compartmentalization(Haoc) configuration
#
menu "Hardware Assisted OS Compartmentalization(HAOC)"

config IEE
	bool "Isolated Execution Environment Framework(IEE)"
	depends on ARM64_4K_PAGES
	depends on ARM64_VA_BITS_48
	help
		Support for Isolated Execution Environment Framework. Foundation of HAOC.
		Could isolate kernel critical data and enforce all write access made and
		verified in IEE APIs.
		Needs hardware support FEAT_HPDS.

config IEE_PTRP
	bool "Pointer Protection for IEE(IEE_PTRP)"
	help
		Provide IEE matadata for each process called task_token to allow
		verifing pointers inside task_struct, like struct cred* that determines
		the capabilities of a process.
		Could be a enhancement of other sub-module of HAOC.
	depends on IEE
	def_bool y

endmenu # HAOC
