config DRM_GSGPU_USERPTR
	bool "Always enable userptr write support"
	depends on DRM_GSGPU
	select MMU_NOTIFIER
	default y
	help
	  This option selects CONFIG_MMU_NOTIFIER if it isn't already
	  selected to enabled full userptr support.

config DRM_GSGPU_GART_DEBUGFS
	bool "Allow GART access through debugfs"
	depends on DRM_GSGPU
	depends on DEBUG_FS
	default n
	help
	  Selecting this option creates a debugfs file to inspect the mapped
	  pages. Uses more memory for housekeeping, enable only for debugging.
