// SPDX-License-Identifier: GPL-2.0
/*
 * DTS file for Phytium D2000 devboard
 *
 * Copyright (C) 2020, Phytium Technology Co., Ltd.
 */

/dts-v1/;
/memreserve/ 0x80000000 0x10000;

#include "ft2004c-generic-psci-soc.dtsi"

/{
	model = "FT-2000/4C Development Board";
	compatible = "phytium,ft-2004c";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		stdout-path = "uart1:115200n8";
	};

	memory@00{
		device_type = "memory";
		/* 4GiB-64MiB ~ 4GiB is reserved for PBF runtime */
		reg = <0x0 0x80000000 0x0 0x7c000000>;
	};

	memory@01{
		device_type = "memory";
		reg = <0x20 0x00000000 0x1 0x00000000>;
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};
};

&rtc0 {
	status = "ok";
};

&uart1 {
	status = "ok";
};

&gmac0 {
	status = "ok";
	phy-mode = "rgmii-txid";
};

&gmac1 {
	status = "ok";
	phy-mode = "rgmii-txid";
};

&spi0 {
	status = "ok";
};

&qspi {
	status = "ok";
};

&i2c0 {
	status = "ok";
};

&i2c1 {
	status = "ok";
};
