Source: linux-signed-arm64
Section: kernel
Priority: optional
Maintainer: Debian Kernel Team <debian-kernel@lists.debian.org>
Uploaders: Bastian Blank <waldi@debian.org>, maximilian attems <maks@debian.org>, Ben Hutchings <benh@debian.org>, Salvatore Bonaccorso <carnil@debian.org>
Standards-Version: 4.2.0
Build-Depends: debhelper-compat (= 12), dh-exec, python3:any, sbsigntool [amd64 arm64 i386]
Build-Depends-Arch: linux-image-6.6.36-arm64-unsigned (= @signedtemplate_binaryversion@) [arm64] <!pkg.linux.nokernel !pkg.linux.quick>, kmod [arm64] <!pkg.linux.nokernel>, rsync [arm64] <!pkg.linux.nokernel>, linux-image-6.6.36-cloud-arm64-unsigned (= @signedtemplate_binaryversion@) [arm64] <!pkg.linux.nokernel>, linux-image-6.6.36-rt-arm64-unsigned (= @signedtemplate_binaryversion@) [arm64] <!pkg.linux.nokernel !pkg.linux.quick>
Rules-Requires-Root: no
Homepage: https://www.kernel.org/
Vcs-Browser: https://salsa.debian.org/kernel-team/linux
Vcs-Git: https://salsa.debian.org/kernel-team/linux.git

Package: linux-image-6.6.36-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.quick>
Built-Using: linux (= 6.6.36-1)
Depends: kmod, linux-base (>= 4.3~), ${misc:Depends}, initramfs-tools (>= 0.120+deb8u2) [arm64] | linux-initramfs-tool [arm64]
Recommends: apparmor [arm64]
Suggests: firmware-linux-free, linux-doc-6.6, debian-kernel-handbook
Replaces: linux-image-6.6.36-arm64-unsigned
Breaks: fwupdate (<< 12-7) [arm64], wireless-regdb (<< 2019.06.03-1~) [arm64], initramfs-tools (<< 0.120+deb8u2) [arm64]
Conflicts: linux-image-6.6.36-arm64-unsigned
Description: Linux 6.6 for 64-bit ARMv8 machines (signed)
 The Linux kernel 6.6 and modules for use on 64-bit ARMv8 machines.
 .
 The kernel image is signed for use with Secure Boot.

Package: linux-image-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-modules-6.6.36-arm64, wireguard-modules (= 1.0.0), virtualbox-guest-modules [amd64 i386], linux-image-generic
Depends: linux-image-6.6.36-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit ARMv8 machines (meta-package)
 This package depends on the latest Linux kernel and modules for use on
 64-bit ARMv8 machines.

Package: linux-headers-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-headers-generic
Depends: linux-headers-6.6.36-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux arm64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel arm64 configuration.

Package: linux-image-6.6.36-cloud-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel>
Built-Using: linux (= 6.6.36-1)
Depends: kmod, linux-base (>= 4.3~), ${misc:Depends}, initramfs-tools (>= 0.120+deb8u2) [arm64] | linux-initramfs-tool [arm64]
Recommends: apparmor [arm64]
Suggests: firmware-linux-free, linux-doc-6.6, debian-kernel-handbook
Replaces: linux-image-6.6.36-cloud-arm64-unsigned
Breaks: fwupdate (<< 12-7) [arm64], wireless-regdb (<< 2019.06.03-1~) [arm64], initramfs-tools (<< 0.120+deb8u2) [arm64]
Conflicts: linux-image-6.6.36-cloud-arm64-unsigned
Description: Linux 6.6 for arm64 cloud (signed)
 The Linux kernel 6.6 and modules for use on cloud platforms supporting
 arm64 virtual machines.
 .
 The kernel image is signed for use with Secure Boot.

Package: linux-image-cloud-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa>
Provides: linux-latest-modules-6.6.36-cloud-arm64, wireguard-modules (= 1.0.0), virtualbox-guest-modules [amd64 i386]
Depends: linux-image-6.6.36-cloud-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for arm64 cloud (meta-package)
 This package depends on the latest Linux kernel and modules for use on
 cloud platforms supporting arm64 virtual machines.

Package: linux-headers-cloud-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa>
Depends: linux-headers-6.6.36-cloud-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux cloud-arm64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel cloud-arm64 configuration.

Package: linux-image-6.6.36-rt-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.quick>
Built-Using: linux (= 6.6.36-1)
Depends: kmod, linux-base (>= 4.3~), ${misc:Depends}, initramfs-tools (>= 0.120+deb8u2) [arm64] | linux-initramfs-tool [arm64]
Recommends: apparmor [arm64]
Suggests: firmware-linux-free, linux-doc-6.6, debian-kernel-handbook
Replaces: linux-image-6.6.36-rt-arm64-unsigned
Breaks: fwupdate (<< 12-7) [arm64], wireless-regdb (<< 2019.06.03-1~) [arm64], initramfs-tools (<< 0.120+deb8u2) [arm64]
Conflicts: linux-image-6.6.36-rt-arm64-unsigned
Description: Linux 6.6 for 64-bit ARMv8 machines (signed), PREEMPT_RT
 The Linux kernel 6.6 and modules for use on 64-bit ARMv8 machines.
 .
 The kernel image is signed for use with Secure Boot.
 .
 This kernel includes the PREEMPT_RT realtime patch set.

Package: linux-image-rt-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Provides: linux-latest-modules-6.6.36-rt-arm64, wireguard-modules (= 1.0.0), virtualbox-guest-modules [amd64 i386]
Depends: linux-image-6.6.36-rt-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Linux for 64-bit ARMv8 machines (meta-package)
 This package depends on the latest Linux kernel and modules for use on
 64-bit ARMv8 machines.

Package: linux-headers-rt-arm64
Architecture: arm64
Build-Profiles: <!pkg.linux.nokernel !pkg.linux.nometa !pkg.linux.quick>
Depends: linux-headers-6.6.36-rt-arm64 (= ${binary:Version}), ${misc:Depends}
Description: Header files for Linux rt-arm64 configuration (meta-package)
 This package depends on the architecture-specific header files for the
 latest Linux kernel rt-arm64 configuration.

