#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

SHELL := sh -e

include debian/rules.defs

build: build-arch build-indep
build-arch:
build-indep:

clean:
	dh_testdir
	rm -rf $(BUILD_DIR) $(STAMPS_DIR)
	dh_clean

binary: binary-arch binary-indep
binary-arch: debian/control
	dh_testdir
	$(MAKE) -f debian/rules.gen binary-arch_$(DEB_HOST_ARCH)
binary-indep:

.PHONY: build build-arch build-indep clean binary binary-arch binary-indep
