# SPDX-License-Identifier: GPL-2.0
menuconfig PHYTIUM_PMU
	bool "Phytium PMU support"
	help
	  Say Y here if you want to support Phytium performance monitoring
	  unit (PMU) drivers.

if PHYTIUM_PMU

config PHYT_DDR_PMU
        tristate "Phytium SoC DDR PMU driver"
        depends on (ARCH_PHYTIUM && ACPI) || COMPILE_TEST
	default m
        help
          Provides support for Phytium SoC DDR Controller performance
	  monitoring unit (PMU).

config PHYT_PCIE_PMU
	tristate "Phytium SoC PCIE PMU driver"
	depends on (ARCH_PHYTIUM && ACPI) || COMPILE_TEST
	default m
	help
	  Provides support for Phytium SoC PCIe Controller performance
	  monitoring unit (PMU).

endif

