# SPDX-License-Identifier: GPL-2.0-only
#
# Phytium PCI virtual network device configuration
#

menu "Phytium PCI Virtual Ethernet Drivers"
config VNET_VENDOR_PHYTIUM
	bool "Phytium Virtual Ethernet devices"
	depends on ARCH_PHYTIUM
	depends on HAS_IOMEM
	default y
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all the
	  remaining Cadence network card questions. If you say Y, you will be
	  asked for your specific card in the following questions.

if VNET_VENDOR_PHYTIUM

source "drivers/net/ethernet/phytium-pci-vnet/pci-ep-net/Kconfig"
source "drivers/net/ethernet/phytium-pci-vnet/pci-rc-net/Kconfig"

endif #VNET_VENDOR_PHYTIUM
endmenu
